@font-face {
  font-family: "zabars";
  src: url("../fonts/zabars.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.d-none {
  display: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "zabars", Arial, Helvetica, sans-serif;
  color: brown;
}

#fullScreenDiv {
  display: block;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  max-height: 100dvh;
  background-image: url("../img/desert_NEU.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding: 80px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: brown;
  font-size: 24px;
  transition: transform 0.3s ease;
}

h1 {
  font-size: 104px;
  letter-spacing: 7px;
  text-shadow: 4px 3px 2px rgb(125, 28, 28);
  color: brown;
  text-align: center;
  white-space: nowrap;
  padding: 0 0 16px 0;
}

h2 {
  font-size: 48px;
  letter-spacing: 0.5px;
  transition: transform 0.3s ease, color 0.3s ease, filter 0.3s ease;
  animation: blink-scale 1.5s infinite ease-in-out;
}

@keyframes blink-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

h2:hover {
  transform: scale(1.1);
  color: rgb(197 115 33);
  filter: brightness(1.2);
  cursor: pointer;
}

h4 {
  font-size: 21px;
}

.start-screen-top {
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

.instructionsAndLegalNotice {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: end;
  padding: 0 8px 0 8px;
}

.link-instructions,
.link-legal-notice {
  transition: transform 0.3s ease;
}

.link-instructions:hover,
.link-legal-notice:hover {
  transform: scale(1.1);
  color: rgb(197 115 33);
  filter: brightness(1.2);
  cursor: pointer;
}

canvas {
  background-size: 720px 480px;
  position: relative;
  display: block;
}

.start-page-background {
  background-image: url("../img/9_intro_outro_screens/start/startscreen_1.png");

  background-repeat: no-repeat;
  background-position: center;
}

.canvas-bottom-info {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  align-items: center;
}

.full-screen {
  width: 22px;
  margin: 16px 24px 0 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.full-screen:hover {
  transform: scale(1.1);
}

.audio-icon {
  width: 25px;
  margin: 16px 8px 0 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.audio-icon:hover {
  transform: scale(1.1);
}

.turn-phone-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(99, 102, 95, 0.9);
  background-position: bottom;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}

.turn-phone-imgTxt {
  color: rgb(251, 200, 112);
  font-weight: 600;
  font-size: 32px;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  letter-spacing: 2.5px;

  img {
    position: relative;
    max-width: 240px;
  }

  p {
    position: absolute;
    top: 250px;
    padding-left: 42px;
  }
}

.mobile-buttons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 0;

  background-color: rgb(251, 200, 112);
  color: brown;
  font-weight: 600;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.mobile-buttons > img {
  width: 48px;
  height: 48px;
}

.panel-wrapper {
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-info {
  justify-content: space-between;
  padding: 8px 32px;
  z-index: 9;
  color: #f7f5bc;
  font-size: 21px;
}

.bottom-info-mobile {
  justify-content: center;
}

.you-won {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: yellow;
  background-image: url("../img/desert_NEU.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.you-lost {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: yellow;
  background-image: url("../img/desert_NEU.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.you-lost > img {
  width: 150%;
  height: 100%;
}

.you-won > img {
  width: 80vw;
}

.endscreen-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%;

  > button {
    width: 15rem;
    height: 5rem;
    color: #fffdd4;
    font-weight: 600;
    font-size: 52px;
    font-family: "zabars", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    transition: transform 0.3s ease;
  }

  > button:hover {
    transform: scale(1.1);
    color: #f1b51b;
    filter: brightness(1.2);
    cursor: pointer;
  }

  .win-Overlay.d-none .endscreen-buttons {
    display: none;
  }
}

/* @media screen and (max-width: 720px) and (max-height: 900px) {
  h1 {
    display: none;
  }
} */

@media screen and (max-width: 820px) and (orientation: portrait) {
  .start-screen-top {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 0px;
    padding: 8px 32px 8px 32px;
  }

  #content {
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .bottom-info,
  h1 {
    display: none;
  }

  .turn-phone-overlay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 100px;
    flex-direction: column;
    width: 100vw;
  }
}

@media screen and (max-width: 1140px) and (orientation: landscape) {
  h1 {
    display: none;
  }

  .start-screen-top {
    position: absolute;
    z-index: 1;
    gap: 24px;
    top: 16px;
    left: 48px;
  }

  .full-screen {
    margin: 16px 24px 0 0;
  }

  canvas,
  .start-page-background {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .endscreen-buttons {
    bottom: 8px;
    > button {
      width: unset;
      height: unset;
      font-size: xx-large;
    }
  }

  #content {
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: hidden;
  }

  .bottom-info {
    width: 95vw;
    position: absolute;
    bottom: 0;
    left: 32px;
    gap: 12px;
    align-self: auto;
  }

  .canvas-bottom-info {
    display: flex;
  }

  .bottom-info-mobile {
    position: absolute;
    bottom: 8px;
  }
  .panel {
    width: 100vw;
  }

  .btn-panel-left,
  .btn-panel-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
}

body.fullscreen-mode #content {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
}

body.fullscreen-mode #newFullScreen {
  width: 100% !important;
  height: 100% !important;
}

body.fullscreen-mode canvas {
  width: 100% !important;
  height: 100% !important;
}
