@font-face {
  font-family: "zabars";
  src: url("/fonts/zabars.ttf") format("truetype"), url("/EPL/fonts/zabars.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.d-none {
  display: none;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "zabars", Arial, Helvetica, sans-serif;
  color: brown;
  text-align: center;
}

.content-faq-legal-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/desert_NEU.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding: 24px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: brown;
  font-size: 24px;
}

h1 {
  font-size: 104px;
  letter-spacing: 7px;
  text-shadow: 4px 3px 2px rgb(125, 28, 28);
  color: brown;
  text-align: center;
  white-space: nowrap;
  padding: 0 0 16px 0;
}

h2 {
  font-size: 48px;
  letter-spacing: 0.5px;
  transition: transform 0.3s ease, color 0.3s ease, filter 0.3s ease;
  animation: blink-scale 1.5s infinite ease-in-out;
  padding: 0 0 16px 0;
}

h3 {
  font-size: 26px;
  padding: 12px 0 3px 0;
  letter-spacing: 2px;
}

h4 {
  font-size: 21px;
  padding: 5ch 0 3px 0;
}

p {
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

ul {
  font-size: 21px;
  font-weight: lighter;
}

.single-box {
  padding: 0 0 16px 0;
}

.start-screen-top {
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

.goBackButton {
  outline: none;
  border: none;
  background-color: transparent;
}

.goBackButton > a {
  font-size: 48px;
}

.goBackButton > a:hover {
  color: rgb(222, 221, 158);
  filter: brightness(1.8);
  cursor: pointer;
}
