@font-face {
  font-family: "zabars";
  src: url("/fonts/zabars.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

.d-none {
  display: none;
}

button:hover {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  height: 100dvh;
  max-height: 100dvh;
  background-image: url("../img/desert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: brown;
  cursor: default; /* margin: 0; */
}

#content {
  padding: 24px;
}

.heading {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: brown;
  font-size: 24px;
}

h1 {
  font-size: 104px;
  letter-spacing: 7px;
  text-shadow: 4px 3px 2px rgb(125, 28, 28);
  color: brown;
}

h2 {
  font-size: 48px;
  letter-spacing: 0.5px;
  transition: transform 0.3s ease, color 0.3s ease, filter 0.3s ease;
  animation: blink-scale 1.5s infinite ease-in-out;
}

@keyframes blink-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

h2:hover {
  transform: scale(1.1);
  color: rgb(197 115 33);
  filter: brightness(1.2);
  cursor: pointer;
}

.start-screen-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

.instructionsAndLegalNotice {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.link-instructions:hover,
.link-legal-notice:hover {
  transform: scale(1.1);
  color: rgb(197 115 33);
  filter: brightness(1.2);
  cursor: pointer;
}

canvas {
  background-color: black;
  background-size: 720px 480px;
  position: relative;
  display: block;
}

#hud {
  display: none;
}

.bottom-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 8px;
  font-size: 16px;
}

.smartphone-rotation > img {
  width: 24px;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
  h1 {
    display: none;
  }
}
