@font-face {
  font-family: "zabars";
  src: url("/fonts/zabars.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.flex {
  display: flex;
}

.d-none {
  display: none;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "zabars", Arial, Helvetica, sans-serif;
  color: brown;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  max-height: 100dvh;
  background-image: url("./img/desert_NEU.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding: 80px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: brown;
  font-size: 24px;
}

h1 {
  font-size: 104px;
  letter-spacing: 7px;
  text-shadow: 4px 3px 2px rgb(125, 28, 28);
  color: brown;
  text-align: center;
  white-space: nowrap;
}

h2 {
  font-size: 48px;
  letter-spacing: 0.5px;
  transition: transform 0.3s ease, color 0.3s ease, filter 0.3s ease;
  animation: blink-scale 1.5s infinite ease-in-out;
}

@keyframes blink-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

h2:hover {
  transform: scale(1.1);
  color: rgb(197 115 33);
  filter: brightness(1.2);
  cursor: pointer;
}

.start-screen-top {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

.instructionsAndLegalNotice {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.link-instructions:hover,
.link-legal-notice:hover {
  transform: scale(1.1);
  color: rgb(197 115 33);
  filter: brightness(1.2);
  cursor: pointer;
}

canvas {
  background-color: black;
  /* background-size: cover; */
  background-size: 720px 480px;
  position: relative;
  display: block;
}

#canvas {
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.canvas-bottom-info {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  align-items: center;
}

.full-screen {
  width: 22px;
  margin: 16px 24px 0 0;
  cursor: pointer;
  transition: transform 125ms;
}

.full-screen:hover {
  transform: scale(1.1);
}

.audio-icon {
  width: 25px;
  margin: 16px 8px 0 0;
  cursor: pointer;
  transition: transform 125ms;
}

.audio-icon:hover {
  transform: scale(1.1);
}

.turn-phone-overlay {
  position: absolute;
  /* display: none; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  border-radius: 3px;
  background-color: rgb(23, 26, 27, 0.9);
  background-position: bottom;
  box-shadow: 0px 0px 3px 3px rgb(111, 16, 16);
  border-style: solid;
  border-color: #6f1010;
  border-radius: 8px;
  /* 
  width: 100%;
  height: 100%;
  position: absolute; */
  display: none;
  z-index: 999;
  top: 0;
  left: 0;
}

.turn-phone-overlay > img {
  display: flex;
  width: 240px;
}

.mobile-buttons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 0;

  background-color: rgb(251, 200, 112);
  color: brown;
  font-weight: 600;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

.mobile-buttons > img {
  width: 48px;
  height: 48px;
}

.panel-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-info {
  /* display: flex; */
  justify-content: space-between;
  /* align-items: center; */
  padding: 8px 32px;
  /* width: 75vw; */
  /* margin-top: -64px; */

  z-index: 9;
  color: #771b1b;
  font-size: 21px;
}

.bottom-info-mobile {
  justify-content: center;
}

.smartphone-rotation > img {
  width: 24px;
}

.you-won {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: yellow;
  background-image: url("./img/desert_NEU.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.you-lost {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: yellow;
  background-image: url("./img/desert_NEU.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* #lostOverlay {
  width: 100%;
  height: 100%;
  background: url("img/5_background/first_half_background.png");
  background-size: cover;
  position: absolute;
} */

.you-lost > img {
  width: 150%;
  height: 100%;
}

.you-won > img {
  width: 80vw;
  /* position: absolute;
  top: 20%;
  left: 10%; */
}

.endscreen-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 42px; */
  position: absolute;
  bottom: 10%;

  > button {
    width: 15rem;
    height: 5rem;
    color: #fffdd4;
    font-weight: 600;
    font-size: 52px;
    font-family: "zabars", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
  }

  > button:hover {
    transform: scale(1.1);
    color: #f1b51b;
    filter: brightness(1.2);
    cursor: pointer;
  }
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100svw;

    h1 {
      display: none;
    }
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100svh;
    width: 100svw;
    background-size: cover;
  }
  h1 {
    display: none;
  }

  @media screen and (max-width: 768px) and (max-height: 432px) {
    .start-screen-top {
      width: 100%;
      position: absolute;
      z-index: 999;
      top: 0px;
      padding: 8px 32px 8px 32px;
    }

    #content {
      padding: 0;
      width: 100%;
      height: 100vh;
    }

    .bottom-info,
    h1 {
      display: none;
    }

    .rotate-phone {
      display: flex;
      align-items: center;
      /* justify-content: flex-start; */
      /* padding-top: 240px; */
      /* flex-direction: column; */
    }
  }
}
